body {
    margin: 0;
}

header {
    position: static;
    background-color: #cd1d2e;
}

header .header-list {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-object-left {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    align-items: center;
}

.header-object-left h1 {
    width: 12rem;
}

.header-button {
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    width: 5rem;
}

.header-list #create-card {
    justify-self: end;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title-section {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    /* width: 100px; */
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.topic-title {
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.title-ender {
    /* display: block;
    justify-self: center; */
    height: 2px;
    width: 50px;
    border-width: 0;
    color: #cd1d2e;
    background-color: #cd1d2e;
    margin-bottom: 0;
}

#empty-body {
    display: block;
    justify-self: center;
    align-self: center;
    /* height: 10%; */
    margin: 0;
}

#card-holder {
    display: flex;
    margin: 0;
    height: 400px;
    width: 100%;

    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.empty-body-title {
    justify-self: center;
    text-decoration: underline;
}

.empty-body-text {
    justify-self: center;
}

#sensor-section {
    border-bottom: 1px solid rgb(192, 192, 192);
}

#sensor-table-section {
    border-bottom: 1px solid rgb(192, 192, 192);
}

#table-holder {
    /* justify-self: center; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.electronic-table {
    width: 1250px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
    padding: 0;
    
}


.electronic-item {
    border-right: 1px solid rgb(206, 206, 206);
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 300px;
    height: 200px;
    display: table-cell;
    /* float: center; */
    padding: 5px;
}

/* .electronic-table li:nth-child(5n+1) {
    clear: left;
} */

.electronic-item img {
    width: 100%;
    height: 100%;
    /* display: table-cell; */
    /* size: 50%; */
}

.reading-popup {
    display: none;
    position: absolute;
    /* bottom: 0; */
    z-index: 8;
    right: 30px;
    border: 3px solid #f1f1f1;
    width: 400px;
    height: 500px;
}

.project-name-section {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.project-buttons {
    margin: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    width: 7rem;
}

#project-name {
    display: none;
}

.component-filter {
    
}

