body {
    margin: 0;
}

header {
    position: static;
    background-color: #cd1d2e;
}

header #header-list {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-button-container {
    display: none;
}

.header-main-object {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    align-items: center;
}

.header-main-object h1 {
    width: 15rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-transform: uppercase;
}

#header-object {
    display: flex;
}

.shop-dropdown {
    position: relative;
    display: inline-block;
}

.shop-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff243a;
    width: 200px;
    z-index: 1;
}

.shop-dropdown:hover {
    background-color: #111;
}

.shop-dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #111;
}

.shop-dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.shop-dropdown:hover .shop-dropdown-content {
    display: block;
}

* {
    box-sizing: border-box;
}

#header-object button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-button {
    background-color: #cd1d2e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 100%;
}

.header-button:hover {
    background-color: #ff243a;
}

#header-list #create-card {
    justify-self: end;
}

.side-nav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}


.side-nav-button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    outline: none;
}

.side-nav a:hover {
    color: #f1f1f1;
}


.title-section {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.topic-title {
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.title-ender {
    height: 2px;
    width: 50px;
    border-width: 0;
    color: #cd1d2e;
    background-color: #cd1d2e;
    margin-bottom: 0;
}

#empty-body {
    display: block;
    justify-self: center;
    align-self: center;
    margin: 0;
}

#card-holder {
    display: flex;
    margin: 0;
    height: 400px;
    width: 100%;

    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.empty-body-title {
    justify-self: center;
    text-decoration: underline;
}

.empty-body-text {
    justify-self: center;
}

#sensor-section {
    border-bottom: 1px solid rgb(192, 192, 192);
}

#sensor-table-section {
    border-bottom: 1px solid rgb(192, 192, 192);
}

#sensor-table-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

#component-table-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.electronic-table {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
    padding: 0;
    
}


.electronic-item {
    border-right: 1px solid rgb(206, 206, 206);
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 300px;
    height: 200px;
    display: table-cell;
    padding: 5px;
}
.electronic-item img {
    width: 100%;
    height: 100%;
}

.reading-popup {
    display: none;
    position: absolute;
    z-index: 8;
    right: 30px;
    border: 3px solid #f1f1f1;
    background-color: #f1f1f1;
    width: 400px;
    height: 500px;
}

.project-name-section {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.project-buttons {
    margin: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    width: 7rem;
}

#project-name {
    display: none;
}

#component-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    height: 300px;
    
}

.component-list-item {
    border: 1px solid rgb(206, 206, 206);
    padding: 5px;
    float: left;
    margin: 0 5px 0 0;
    width: 200px;
    height: 40px;
    position: relative;
}

.component-list-item label,
.component-list-item input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.component-list-item input[type='radio'] {
    opacity: 0.011;
    z-index: 100;
}

.component-list-item input[type='radio']:checked + label {
    background: #cd1d2e;
    border-radius: 2px;
    color: #f1f1f1;
}

.component-list-item label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}

.component-list-item img {
    width: 100%;
    height: 100%;
}

.sensor-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    border-radius: 5px;
    height: 200px;
}

.sensor-card-data-container {
    margin: 10px;
    height: 100px;
}

.sensor-card-name-container {
    padding: 2px 16px;
    height: 100px;
}

.side-dropdown-content {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.side-shop-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.side-shop-dropdown:hover .side-dropdown-content {
    display: block;
}

.side-dropdown-content a {
    color: #f1f1f1;
    padding: 16px 20px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.error {
    color: red;
    font-size: 15px;
}

.header-holder {
    display: flex;
    justify-content: center;
}